@{
    ViewData["Title"] = "File Not";
}

<div class="panel panel-default" id="home">
    <div class="panel-body pane">
        <h2 class="error-title">Sorry, an error occured</h2>

        <h4 class="error-text">The requested file has expired.</h4>
    </div>
</div>
