@{
    ViewData["Title"] = "Error";
}

<div class="panel panel-default" id="home">
    <div class="panel-body pane">
        <h2 class="error-title">Sorry, an error occured</h2>

        <h4 class="error-text">An error occurred while processing your request.</h4>
    </div>
</div>
